################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CopilotSnapshots/48C389F47AE95D469975DB97DB188507
/.vs/wedding-invitation/CopilotIndices/18.5.39068.60183
/.vs
